a:hover {
  color: black;
  text-decoration: none;
}

.card-effect-border:hover {
  box-shadow: 0px 2px 3px 0px #073700;
}

.doctor-card {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

