@media (min-width: 300px) {
  .social-media {
    width: 16px;
  }
}

@media (min-width: 300px) {
  #small-card {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #subscription-display {
    text-align: left !important;
    flex-direction: row !important;
  }
}

@media (min-width: 300px) {
  #subscription-display {
    flex-direction: column;
    text-align: center;
    margin: 0px;
    font-family: Helvetica;
  }
}

@media (min-width: 768px) {
  .Sriranga_footer {
    display: flex !important;
  }
}

@media (min-width: 300px) {
  .Sriranga_footer {
    display: flex;
  }
}

#wp {
  cursor: pointer;
}

#srifooter1 {
  bottom: 0px;
  z-index: 11;
  box-shadow: 0px -1px 2px rgb(13,34,8);
  background: #0E7300;
}

.btn:hover {
  background-color: #0D2208 !important;
  color: white !important;
  box-shadow: 0px 2px 4px 0px rgb(182,255,164);
  border-radius: 10px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0px 0px 4px rgb(7,55,0);
}

.dropdown-item:focus, .dropdown-item:hover {
  color: var(--bs-success) !important;
  background-color: rgb(213,240,197);
}

.bottomfooter:hover {
  background: #0b5b00;
  height: 60.6px;
}

@media (min-width: 768px) {
  .wetreatpara {
    display: flex !important;
  }
}

@media (min-width: 300px) {
  .wetreatpara {
    display: block;
  }
}

@media (min-width: 768px) {
  .elementborder {
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-bottom-width: 0.8px;
    border-bottom-style: none !important;
  }
}

@media (min-width: 300px) {
  .elementborder {
    border-right-width: 1px;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.nav-link:focus, .nav-link:hover {
  color: #75c868;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: var(--bs-light);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

