@media (min-width:768px) {
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 33%;
  }
}

@media (min-width: 768px) {
  .testisri {
    display: flex !important;
  }
}

@media (min-width: 300px) {
  .rowcontentsri {
    display: grid;
  }
}

@media (min-width: 768px) {
  .rowcontentsri {
    display: flex;
  }
}

